.header {
    background: url('../../images/header-background.png') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

@media screen and (max-width: 375.98px) {
    .header {
        background: url('../../images/header-mobile-background.png') no-repeat;
    }
}

.header__container {
    height: 700px;
    width: 542px;
    margin-left: 18.2vw;
}

@media screen and (max-width: 1366.98px) {
    .header__container {
        margin-left: 5.25vw;
    }
}

@media screen and (max-width: 767.98px) {
    .header__container {
        height: 774px;
        width: 335px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 334.98px) {
    .header__container {
        box-sizing: border-box;
        width: 100%;
        padding: 5px;
        margin: 0 auto;
    }
}

.header__logo {
    margin-top: 26px;
}

@media screen and (max-width: 767.98px) {
    .header__logo {
        width: 213px;
        height: 32px;
        margin-top: 18px;
    }
}

.header__slogan {
    display: block;
    font-size: 60px;
    line-height: 66px;
    text-align: left;
    color: rgba(49, 49, 49, 1);
    text-transform: uppercase;
    font-family: "Merriweather", serif;
}

.header__slogan:nth-child(2) {
    margin-top: 58px;
}

@media screen and (max-width: 767.98px) {
    .header__slogan {
        font-size: 36px;
        line-height: 39.6px;
    }

    .header__slogan:nth-child(2) {
        margin-top: 38px;
    }
}

@media screen and (max-width: 334.98px) {
    .header__slogan {
        font-size: 30px;
    }
}


.header__slogan_position_center {
    text-align: center;
}

@media screen and (max-width: 767.98px) {
    .header__slogan_position_center {
        margin-right: -5px;
    }
}

.header__slogan_position_right {
    text-align: right;
}

.header__title {
    font-family: "Golos Text", sans-serif;
    font-size: 18px;
    line-height: 23.4px;
    font-weight: 400;
    text-align: center;
    margin: 24px 0 0;
    color: rgba(49, 49, 49, 1);
}

@media screen and (max-width: 767.98px) {
    .header__title {
        text-align: left;
    }
}

@media screen and (max-width: 334.98px) {
    .header__title {
        font-size: 16px;
    }
}

.header__links-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

@media screen and (max-width: 767.98px) {
    .header__links-wrapper {
        flex-direction: column;
        margin-top: 30px;
    }
}

.header__link {
    box-sizing: border-box;
    width: 263px;
    height: 72px;
    padding: 12px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid rgba(31, 31, 31, 1);
    border-radius: 66px;
    font-family: "Golos Text", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    text-decoration: none;
}

@media screen and (max-width: 767.98px) {
    .header__link {
        width: 100%;
        height: 47px;
        padding: 12px;
    }

    .header__link:nth-child(2) {
        margin-top: 14px;
    }
}

.header__link_color_black {
    background-color: rgba(31, 31, 31, 1);
    color: rgba(255, 255, 255, 1);
}

.header__link_color_black:hover {
    background-color: rgba(251, 206, 81, 1);
    border-color: rgba(251, 206, 81, 1);
    color: rgba(31, 31, 31, 1);
}

.header__link_color_transparent {
    color: rgba(31, 31, 31, 1);
}

.header__link_color_transparent:hover {
    background-color: rgba(31, 31, 31, 1);
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 767.98px) {
    .header__link_color_transparent {
        background-color: rgba(255, 255, 255, 0.9);
        border: none;
    }
}